# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Finish the Light.iml
# Datasource local storage ignored files
/../../../../../../../../:\Uni and personal work\Unity Games\FinishTheLightGameJam\Finish the Light\.idea\.idea.Finish the Light\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
